<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dessert.mail.product.mapper.ProductMapper">
    <select id="getPage" resultType="com.dessert.common.entity.pms.Product">
        SELECT
        a.*, c.name as type,
        CASE
            WHEN b.product_id IS NOT NULL THEN
            1 ELSE 0
            END AS is_collection
        FROM
        pms_product a
        LEFT JOIN dessertmail_ums.ums_collection b ON a.id = b.product_id
        AND b.user_id = #{vo.userId}
        AND b.is_deleted = 0
        LEFT JOIN pms_type c on a.type_id = c.id
        <where>
            and a.is_deleted = 0
            <if test="vo.name!=null and vo.name!=''">
                and a.name like concat('%',#{vo.name},'%')
            </if>
            <if test="vo.typeId!=null and vo.typeId!=''">
                and a.type_id = #{vo.typeId}
            </if>
        </where>
    </select>
    <select id="getAllPage" resultType="com.dessert.common.entity.pms.Product">
        SELECT
        a.*, b.name as type
        FROM
        pms_product a
        LEFT JOIN pms_type b on a.type_id = b.id
        <where>
            and a.is_deleted = 0
            <if test="vo.name!=null and vo.name!=''">
                and a.name like concat('%', #{vo.name},'%')
            </if>
            <if test="vo.typeId!=null and vo.typeId!=''">
                and a.type_id = #{vo.typeId}
            </if>

        </where>
    </select>
</mapper>