<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dessert.mail.order.mapper.OrderDetailMapper">
    <select id="listByIds" resultType="com.dessert.common.entity.oms.OrderDetail">
        select a.* ,b.content as comment
        from oms_order_detail a
        left join dessertmail_pms.pms_comment b on a.id = b.order_detail_id
        <foreach collection="list" item="item" open="where a.id in(" close=")" separator=",">
            #{item}
        </foreach>
        and a.is_deleted = 0
    </select>
    <select id="typeStatistics" resultType="com.dessert.common.entity.common.StatisticsVo">
        SELECT product_type_id AS 'name' , ROUND( 360 * COUNT( 1 )/( SELECT count(*) FROM oms_order_detail )) AS 'value'
        FROM
            oms_order_detail
                inner JOIN oms_order a on order_id =  a.id
        where a.is_deleted = 0
        GROUP BY
            product_type_id
    </select>
</mapper>